$breakPoints: (
        "sm": 576px,
        "md": 768px,
        "lg": 992px,
        "xl": 1200px,
        "sx": 1360px,
        "ss": 1550px
);

@mixin media-breakpoint($trigger) {
  @media (max-width: map_get($breakPoints, $trigger)) {
    @content
  }
}

$currentPoint: ERROR;
@mixin media-eachBreakPoint() {
  @each $break, $width in $breakPoints {
    $currentPoint: $break !global;
    @include media-breakpoint($break) {
      @content
    }
  }
}