$breakPoints: (
        "xm": 250px,
        "sm": 576px,
        "md": 768px,
        "lg": 992px,
        "xl": 1200px,
        "sx": 1360px,
        "ss": 1550px
);

@mixin media-breakpoint($trigger) {
  @media (max-width: map_get($breakPoints, $trigger)) {
    @content

  }
}

$currentBreakPoint: ERROR;
@mixin media-eachBreakPoint() {
  @each $break, $width in $breakPoints {
    $currentBreakPoint: $break !global;
    @include media-breakpoint($break) {
      @content
    }
  }
}

$points: (
        1: 6px,
        2: 10px,
        3: 16px,
        4: 24px,
        5: 32px,
);

$currentPoint: ERROR;
@mixin eachPoints() {
  @each $name, $width in $points {
    $currentPoint: $name !global;
    @content;
  }
}