@import ".functions";

.card {
  &.fluid {
    width: 100%;
  }

  &:not(.no-round) {
    border-radius: var(--radius-card);
  }

  &:not(.no-margin) {
    margin: 6px;
  }

  &:not(.no-padding) {
    padding: 12px;
  }

  .card-header {
  }

  background: var(--background-card);
}

@include media-breakpoint("sm") {
  .card {
    .card-header {
      font-size: 14px;
    }
  }
}