@import ".functions";

.card {
  &.fluid {
    width: 100%;
  }

  &:not(.no-round) {
    border-radius: var(--radius-card);
  }

  &:not(.no-margin) {
    margin: 6px;
  }

  &:not(.no-padding) {
    padding: 12px;
  }

  &:not(.no-shadow) {
    filter: var(--shadow-medium);
  }

  .card-header {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 4px;
  }

  .card-sub-header {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 4px;
  }

  &.card-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  background: var(--background-card);
}

@include media-breakpoint("sm") {
  .card {
    .card-header {
      font-weight: bold;
      font-size: 14px;
    }

    .card-sub-header {
      font-weight: normal;
      font-size: 12px;
    }
  }
}