
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0 12px;
  height: 48px;
  background: var(--background-header);
  flex-direction: row;
  align-items: center;

  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, .15));

  .header-item {
    &:not(.header-title):not(.header-no-limits) {
      width: 32px;
      height: 32px;
    }

    &:hover {
      background: var(--background-header-item-hover);
    }

    transition: background-color .25s;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .cursor-pointer;
  }

  .header-left {
    position: fixed;
    top: 0;
    right: 12px;
    display: flex;
    align-items: center;
    height: 48px;
  }

  .header-title {
    padding: 6px 12px;
    text-transform: uppercase;
    font-weight: normal;

    @extend .header-item;
  }
}
