.cursor-pointer {
  cursor: pointer;
}

.unlink:hover, .unlink:focus, .unlink {
  text-decoration: none !important;
  outline: none;
  outline: transparent;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}