body[theme='light'] {

  --background-body: rgb(245,245,245);
  --color-text: #000;
  --background-header: #fff;
  --background-header-item-hover: rgba(0, 0, 0, .1);
  --background-card: #fff;
  --spinner-background: var(--accent-color)
}