$colors: (
  "accent",
  "secondary",
  "contrast",
  "light",
  "dark",
  "info",
  "warn",
  "error",
  "primary",
  "red",
  "pink",
  "purple",
  "deep-purple",
  "indigo",
  "blue",
  "light-blue",
  "cyan",
  "teal",
  "green",
  "light-green",
  "lime",
  "yellow",
  "amber",
  "orange",
  "deep-orange",
  "brown",
  "grey",
  "blue-grey"
);

$currentColor: #error;
@mixin forColor {
  @each $color in $colors {
    $currentColor: $color !global;
    @content;
  }
}


@include forColor {
  .color-#{$currentColor} {
    //border: .25em solid var(--color-#{$currentColor});
    //border-right-color: transparent;
    color: var(--color-#{$currentColor});
  }

  .border-#{$currentColor} {
    border-color: var(--color-#{$currentColor});
  }
  .border-top-#{$currentColor} {
    border-top-color: var(--color-#{$currentColor});
  }
  .border-left-#{$currentColor} {
    border-left-color: var(--color-#{$currentColor});
  }
  .border-right-#{$currentColor} {
    border-right-color: var(--color-#{$currentColor});
  }
  .border-bottom-#{$currentColor} {
    border-bottom-color: var(--color-#{$currentColor});
  }
  .border-y-#{$currentColor} {
    border-bottom-color: var(--color-#{$currentColor});
    border-top-color: var(--color-#{$currentColor});
  }
  .border-x-#{$currentColor} {
    border-right-color: var(--color-#{$currentColor});
    border-left-color: var(--color-#{$currentColor});
  }
}
